{% extends 'blog/base.html'%}


{% block description %}
Description
{% endblock %}
{% block title %}List of Blogs{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-9">
        <div class="page-header">
            <h4>List of Blogs</h4>
        </div>
        {% for post in posts %}
        <h3>
            <a href="{{post.get_absolute_url}}">
                {{ post.title }}
            </a>
        </h3>
        <small>
            written by: {{ post.author }} on {{ post.published }} in
            <a href="{{post.category.get_absolute_url}}">
                {{ post.category }}
            </a>
        </small>
        <hr>
        {{ post.content|truncatewords:40|linebreaks }}
        {% endfor %}
        {% include 'blog/paginator.html' with page=posts %}


    </div>
    <div class="col-md-3">
        <div class="page-header">
            <h4>Sidebar</h4>
            <hr>
            <h5>List of Categories</h5>
            {% for category in category %}
            <a href="{{category.get_absolute_url}}">
                {{ category.name }}<br>
            </a>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}



